@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

:root {
    --clr-dark: #021526;
    --clr-light: #EEEEEE;
    --clr-slate: #31363F;
    --clr-primary: #76ABAE;
    --clr-secondary: #2e5172;
    --clr-shadow: #2e5172a6;
    --clr-light-blue: #111E41;
    --clr-light-blue-text: #687EB5;
    --clr-fuchsia: #F900A4;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--clr-dark);
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-size: 1.5rem;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: rotate(30deg) translateY(20%);
    transition: all 0.8s;
}

.show {
    opacity: 1;
    filter: none;
    transform: rotate(30deg) translateY(0%);
}

@media (prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

a {
    text-decoration: none;
    color: var(--clr-light);
}

svg:hover {
    cursor: pointer;
}

h1 {
    color: var(--clr-light);
    margin: 3rem 0;
    font-size: 3rem;
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    font-size: 1.8rem;
    text-align: center;
    margin: 16px 0;
}

textarea {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    resize: none;
}

header {
    position: sticky;
    top: 0px;
    padding: 10px 0;
    background-color: var(--clr-slate);
    color: var(--clr-light);
    z-index: 10;
}

header.sticky {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav {
    margin: 0px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#sidebar-active {
    display: none;
}

.open-sidebar-button,
.close-sidebar-button {
    display: none;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

.service-name {
    font-size: 20px;
    font-weight: bold;
    margin-right: 30px;
}

.service-name:hover {
    cursor: pointer;
}

.nav-links {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: var(--clr-light);
    font-size: 18px;
    transition: color 0.3s;
}

a:hover {
    color: var(--clr-primary);
    cursor: pointer;
}

.nav-links .pipe:hover {
    cursor: default;
    user-select: none;
}

.panel {
    padding: 0 0;
    display: flex;
    height: calc(100vh - 60px - 58.375px);
    justify-content: center;
    background: var(--clr-dark);
    color: var(--clr-light);
    max-width: var(--container-max-width);
    margin: 0 auto;
}

.servizi {
    height: auto;
}

.snap {
    scroll-snap-align: start;
}

.hero-content {
    padding: 0 5%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    color: var(--clr-light);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-item {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

button {
    width: 100%;
    border: none;
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(152, 70, 252, 1) 100%);
    color: var(--clr-light);
    border-radius: 10px;
    padding: 25px 18px;
    font-size: 1.4rem;
    transition: all 0.3s;
}

button:hover {
    background-color: var(--clr-primary);
    box-shadow: 0 0 10px 5px var(--clr-shadow);
    scale: 1.03;
}

.video-container {
    width: 100%;
}

.video-container video {
    overflow: hidden;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.contact-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 3rem;
}

.contact-input {
    background-color: var(--clr-slate);
    color: var(--clr-light);
    border: none;
    grid-column: span 2;
    border-radius: 8px;
    padding: 15px;
    margin: 5px 0;
}

.contact-container {
    flex: 1.3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.info-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    flex: 1;
}

.info-container h2 {
    font-size: 1.5rem;
}

.info-container ul {
    font-size: 1rem;
}

.info-container li {
    margin: 2px 0;
}

form {
    display: grid;
    column-gap: 10px;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(5, 4rem);
    margin-block-end: 0;
}

.column-two {
    grid-column: span 4;
}

.row-two {
    grid-row: span 2;
}

.submit-button {
    grid-column: 2 / 4;
    padding: 0;
    width: 100%;
}

.explanation-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*gap: 1rem;*/
    color: var(--clr-light);
    font-size: 1.7rem;
}

.explanation-step {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    margin: 2rem 10px;
}

.explanation-step .text {
    flex: 1;
    max-width: 50%;
}

.explanation-step .image {
    max-width: 50%;
    height: 50vh;
    object-fit: cover;
    object-position: center;
    flex: 1;
    border-radius: 8px;
}

.works-container {
    margin: 3rem 0 0;
    padding: 1rem 0 2rem;
    background-color: #98c1d95e;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.works-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 3rem;
    gap: 1rem;
}

.works-item {
    object-fit: cover;
    gap: 1rem;
    height: 20rem;
}

.works-item img {
    height: 100%;
    border-radius: 6px;
    object-fit: cover;
}

.contact-footer {
    width: 100%;
    background-color: var(--clr-slate);
    padding: 10px 0;
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-box {
    background-color: transparent;
    padding: 0.2rem 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: all 0.3s;
    font-size: 1rem;
}

.contact-box:hover {
    background-color: var(--clr-primary);
    box-shadow: 0 0 10px 5px var(--clr-shadow);
    scale: 1.03;
}

.contact-box a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contact-box a:hover {
    color: var(--clr-light);
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    width: 80%;
    margin: 3rem auto;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    height: 350px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.navbar-prenota {
    border-radius: 0.4rem;
    padding: 5px 8px;
    font-size: 18px;
    margin: 0;
    height: auto;
}

.contact {
    height: 70vh;
}

.text-wrapper {
    margin-top: 1rem;
    width: 80%;
}

.text-wrapper h1 {
    font-size: 2.5rem;
}

.step-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem 1rem;
    background-color: var(--clr-light-blue);
}

.step-wrapper u {
    padding-right: 5px;
    text-decoration: none;
    color: var(--clr-fuchsia)
}

.step-wrapper h2 {
    display: inline;
    color: var(--clr-light-blue-text)
}

.step-wrapper .number {
    font-size: 5rem;
}

.step-wrapper ul li {
    list-style-image: url('./Images/Icons/green-check.svg');
    margin-top: 10px;
}

.reminder {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 3rem 0;
}

.reminder p {
    width: 80%;
    font-size: 2rem;
    color: var(--clr-light);
}

.strikethrough {
    position: relative;
}

.strikethrough:before {
    position: absolute;
    content: "";
    left: -10px;
    top: 50%;
    right: -10px;
    border-top: 3px solid;
    border-color: inherit;

    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
}

.cards-container {
    margin: 3rem 0;
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.card-item {
    width: 25vw;
    max-width: 20%;
    height: 40vh;
    background-color: var(--clr-light);
    border: solid 8px var(--clr-primary);
    border-radius: 20px;
    color: var(--clr-dark);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
    z-index: 10;
}

.card-item .blue {
    color: var(--clr-primary);
    font-size: 2rem;
}

.card-item .black {
    color: var(--clr-dark);
    font-size: 1rem;
}

.card-item .grey {
    color: grey;
    font-size: 4rem;
}

.card-text p {
    margin: 0.2rem;
}

.card-item .bottom-item p {
    margin: 0;
}

.services-list-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem 0;
    background-color: var(--clr-light);
    color: var(--clr-dark);
    font-size: 1.2rem;
}

.services-list-wrapper h3 {
    text-align: center;
}

.services-list-wrapper .vertical {
    height: 50%;
    width: 5px;
    border-radius: 6px;
    background-color: var(--clr-dark);
}

@media (max-width: 2170px) {
    .info-container h2 {
        font-size: 1.4rem;
    }

    .info-container ul {
        font-size: 1.1rem;
    }
}

@media (max-width: 1570px) {
    .works-panel .item-1 {
        display: none;
    }
}

@media (max-width: 1510px) {
    .info-container h2 {
        font-size: 1.2rem;
    }

    .info-container ul {
        font-size: 1rem;
    }
}

@media (max-width: 1395px) {
    nav {
        margin: 0px 20px 0 10px;
    }

    .item-3,
    .item-4 {
        display: none;
    }
}

@media (max-width: 1220px) {
    .contact-panel {
        flex-direction: column;
    }

    .contact-container {
        width: 80%;
    }

    .panel {
        height: auto;
    }

    .info-container {
        width: 80%;
    }
}

@media (max-width: 1030px) {

    h1 {
        font-size: 2rem;
        margin: 1.5rem 0;
    }

    .works-container {
        padding: 0 0 2rem;
    }

    .contact-panel {
        gap: 2rem;
    }

    .navbar-prenota {
        padding: 5px;
        width: 100%;
    }

    .hero-image {
        width: 100%;
        max-width: 100%;
        height: auto;
        max-height: 60vh;
        object-fit: cover;
        border-radius: 10px;
    }

    .panel {
        margin: 20px auto;
        padding: 0 10px;
        overflow: hidden;
    }

    .servizi {
        padding: 0;
    }

    .hero-content {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        row-gap: 10vw;
        padding: 0 10px;
    }

    .nav-links {
        font-family: Syne;
        font-weight: bold;
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        background-color: var(--clr-slate);
        position: absolute;
        gap: 1rem;
        top: -240px;
        left: 0;
        width: 100%;
        padding-bottom: 20px;
        box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.6);
        z-index: 5;
        transition: 0.4s ease-in-out
    }

    .nav-links button {
        font-family: Syne;
    }

    .nav-links>li {
        padding-right: 20px;
    }

    .pipe {
        display: none;
    }

    .li-prenota {
        order: -1;
    }

    /* Show the hamburger menu */
    .open-sidebar-button {
        display: block;
    }

    /* Show the sidebar menu and close button when checkbox is checked */
    #sidebar-active:checked~.link-section .nav-links {
        top: 59px
    }

    #sidebar-active:checked~.link-section .close-sidebar-button {
        display: block;
    }

    /* Hide the hamburger menu icon once sidebar is open */
    #sidebar-active:checked~.open-sidebar-button {
        display: none;
    }

    #sidebar-active:checked~#overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
    }

    nav {
        margin: 0 20px;
    }

    .hero {
        padding: 20px 0;
    }

    button {
        width: 90%;
        padding: 0;
        height: 7vh;
        margin: 20px 0;
    }

    p {
        font-size: 1rem;
    }

    .question {
        margin: 0;
    }

    .question h1 {
        margin: 1rem 0 0;
    }

    .text-item {
        align-items: center;
        gap: 2vw;
    }

    header {
        padding: 5px 0px;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    .explanation-step {
        width: 90%;
        display: contents;
    }

    .explanation-container {
        margin-top: 2rem;
    }

    .explanation-container .image {
        display: none;
    }

    .explanation-step .text {
        max-width: 80%;
    }

    .come-funziona-button {
        margin: 3rem 0;
        width: 80%;
    }

    .contact-hero-container h1 {
        font-size: 5rem;
    }

    .wrapper {
        height: calc(100vh - 60px);
    }

    .contact-banner {
        display: none;
    }

    .contact-box {
        background-color: transparent;
    }

    .contact-box img {
        scale: 1.2;
    }

    .contact-box a u {
        display: none;
    }

}

@media (max-width: 770px) {
    .works-item {
        height: 35vw;
    }
}